:root {
    --gray-color: #9DA4BD;
    --text-color: #555555;
    --black-color: #303030;
    --white-color: #FFFFFF;
    --skill-color: #FF6C00;
    --info-color: rgba(157, 164, 189, 0.4);
    --title-color: rgba(157, 164, 189, 0.6);
    --body-color: #E5E5E5;
    --master-color: #F7F7F7;
    --background-color: #111319;
    --footer-color: #191C26;
}