// .subscribes {
//     width: 450px;
//     // height: 156px;
//     // @include mq(tab) {
//     //     display: flex;
//     //     flex-direction: column;
//     // }
//     // @include mq(desk) {
//     //     width: 358px;
//     // }
// }
.subscribes {
    @include mq(desk) {
        padding: 130px 40px;
    }
    width: 418px;
    margin: 0 auto;
    @include mq(desk) {
        margin: 0;
    }
    // height: 156px;
    // @include mq(tab) {
    //     display: flex;
    //     flex-direction: column;
    // }
    // @include mq(desk) {
    //     width: 358px;
    // }
    &__button {
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        background-color: inherit;
        border: 0;
        padding: 0;
        margin-bottom: 96px;
        @include mq(desk) {
            margin-bottom: 0px;
        }
        & a {
            font-weight: 600;
            font-size: 12px;
            line-height: 1.33;
            text-align: center;
            letter-spacing: 0.09em;
            text-transform: uppercase;
            border: 1px solid #FF6C00;
            border-radius: 25px;
            background-color: inherit;
            padding: 12px 38px;
            color: var(--white-color);
            &:focus {
                background-color: var(--skill-color);
                color: var(--white-color);
            }
        }
    }
    &-form {
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }
    &__input {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        // border-radius: 4px;
        width: 418px;
        height: 24px;
        background-color: inherit;
        outline-color: inherit;
        outline: none;
        border: none;
        border-bottom: 1px solid var(--info-color);
        border-radius: 0%;
        padding-bottom: 8px;
        color: var(--white-color);
        margin-bottom: 44px;
        outline: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:focus-within::placeholder {
            color: var(--white-color);
        }
        &:focus {
            border-color: var(--white-color);
        }
        &::placeholder {
            font-weight: 600;
            font-size: 11px;
            line-height: 1.364;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: var(--info-color);
        }
        @include mq(tab-only) {
            margin-bottom: 20px;
            width: 330px;
        }
        @include mq(tab) {
            &:nth-child(-n +1) {
                margin-right: 30px;
            }
        }
        @include mq(desk) {
            &:first-child {
                margin-right: 30px;
            }
            width: 270px;
            &:not(:first-child) {
                width: 260px;
            }
        }
    }
    @include mq(tab) {
        width: 690px;
    }
    @include mq(desk) {
        width: 657px;
        flex-direction: row;
    }
    &__comment {
        width: 418px;
        height: 76px;
        background-color: inherit;
        outline-color: inherit;
        outline: none;
        border: none;
        border-bottom: 1px solid var(--info-color);
        border-radius: 0%;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        color: var(--white-color);
        margin-bottom: 44px;
        &:focus-within::placeholder {
            color: var(--white-color);
        }
        &:focus {
            border-color: var(--white-color);
            color: var(--white-color);
        }
        &::placeholder {
            font-weight: 600;
            font-size: 11px;
            line-height: 1.364;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: var(--info-color);
        }
        @include mq(tab) {
            width: 690px;
        }
        @include mq(desk) {
            width: 560px;
        }
    }
}

.svg-map {
    @include mq(tab) {
        margin-bottom: 25px;
    }
}

.label {}

textarea {
    resize: none;
}

// .subscribes-button {
//     display: flex;
//     align-items: center;
//     padding: 12px 38px;
//     background: #2196F3;
//     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//     border-radius: 4px;
//     justify-content: center;
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.88;
//     letter-spacing: 0.06em;
//     &__icon {
//         margin-left: 10px;
//     }
//     @include mq(desk) {
//         position: absolute;
//         top: 0;
//         right: 0;
//     }
// }