.footer {
    @include mq(tab) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: space-between;
        // align-items: center;
    }
    padding: 44px 31px;
    &__title {
        font-weight: 600;
        font-size: 11px;
        line-height: 1.364;
        letter-spacing: 0.2em;
        color: var(--gray-color);
        width: 128px;
    }
    &__list {
        display: flex;
        align-items: center;
        @include mq(mob-only) {
            justify-content: flex-end;
        }
        &::before {
            content: "";
            height: 1px;
            width: 60px;
            background: var(--title-color);
            color: var(--black-color);
            margin-right: 40px;
        }
        @include mq(mob-only) {
            margin-bottom: 20px;
        }
    }
    &__item {
        &:not(:last-child) {
            margin-right: 40px;
        }
        font-weight: 600;
        font-size: 11px;
        line-height: 1.364;
        letter-spacing: 0.2em;
        color: var(--black-color);
        & a {
            font-weight: 600;
            font-size: 11px;
            line-height: 1.364;
            letter-spacing: 0.2em;
            color: var(--black-color);
            &:hover,
            &:focus {
                color: var(--skill-color);
            }
        }
    }
}