.left-header {
    display: none;
    width: 85px;
    height: 680px;
    margin-right: 28px;
    @include mq(tab) {
        display: flex;
        flex-wrap: wrap;
    }
    &__list {
        // transform: rotate(-90deg);
        margin-bottom: 100px;
    }
    &__item {
        &:not(:last-child) {
            margin-bottom: 100px;
        }
        & a {
            transform: rotate(-90deg);
        }
        // &:first-child::before {
        //     content: " ";
        //     display: inline-flex;
        //     height: 1px;
        //     width: 60px;
        //     background: var(--title-color);
        //     margin-right: 20px;
        //     margin-left: 13px;
        //     transform: rotate(-90deg);
        // }
    }
    &__logo {
        margin-top: 32px;
    }
}

.logotipe {
    width: 85px;
    display: flex;
    justify-content: center;
}

.left-soc {
    display: inline-flex;
    flex-direction: column-reverse;
    width: 85px;
    &::before {
        content: " ";
        display: inline-flex;
        height: 1px;
        width: 60px;
        background: var(--title-color);
        margin-right: 20px;
        margin-left: 13px;
        transform: rotate(-90deg);
        margin-bottom: 40px;
    }
}

.menu-header {
    &__list {}
    &__item {}
}

.section {}

.navigation {
    &__list {}
    &__item {}
}

.auth-nav {
    &__list {}
    &__item {}
}

.header-nav {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.334;
    display: none;
    & a {
        color: var(--white-color);
    }
    @include mq(tab) {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 164px;
    }
}

.active a {
    color: var(--skill-color);
}

.navigat {
    @include mq(tab) {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &_nav {
        @include mq(tab-only) {
            margin-right: 40px;
        }
        &__list {
            display: flex;
            flex-wrap: wrap;
            margin-top: 12px;
        }
        &__item {
            &:not(:last-child) {
                margin-right: 24px;
            }
            & a {
                font-weight: 600;
                font-size: 12px;
                line-height: 1.333;
                letter-spacing: 0.1em;
            }
        }
    }
    &_auth {
        &__list {
            display: flex;
            flex-direction: column-reverse;
            @include mq(desk) {
                flex-direction: row;
                justify-content: center;
                align-items: baseline;
            }
        }
        &__item {
            text-align: center;
            @include mq(tab-only) {
                &:not(:first-child) {
                    margin-bottom: 20px;
                }
            }
            @include mq(desk) {
                &:first-child {
                    margin-right: 45px;
                }
            }
            & .button {
                letter-spacing: 0.09em;
                color: var(--white-color);
                text-transform: uppercase;
            }
        }
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 0px 0px;
    min-width: 480px;
    padding: 0px 39px;
    width: 100%;
}

.header-osnova {
    position: relative;
    background-image: url(../images/hero/hero-480@1x.jpg), linear-gradient( var(--background-color), var(--background-color));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 480px;
    width: 100%;
    height: 580px;
    @include mq(retina) {
        background-image: url(../images/hero/hero-480@2x.jpg), linear-gradient( var(--background-color), var(--background-color));
    }
    @include mq(tab) {
        background-image: url(../images/hero/hero-768@1x.jpg), linear-gradient(var(--background-color), var(--background-color));
        min-width: 576px;
        width: 100%;
        height: 680px;
        @include mq(retina) {
            background-image: url(../images/hero/hero-768@2x.jpg), linear-gradient( var(--background-color), var(--background-color));
        }
    }
    @include mq(desk) {
        background-image: url(../images/hero/hero-1280@1x.jpg), linear-gradient( var(--background-color), var(--background-color));
        background-size: 1280px;
        min-width: 1072px;
        width: 100%;
        height: 680px;
        @include mq(retina) {
            background-image: url(../images/hero/hero-1280@2x.jpg), linear-gradient( var(--background-color), var(--background-color));
        }
    }
    & .section {
        @include mq(tab) {
            padding: 40px 0px 40px 20px;
        }
    }
}

.information {
    min-width: 306px;
    width: 100%;
    @include mq(mob) {
        width: 306px;
    }
    @include mq(tab) {
        width: 349px;
    }
    @include mq(desk) {
        width: 445px;
        margin-left: 76px;
    }
    // &__subtitle {
    //     display: flex;
    //     flex-wrap: wrap;
    //     // justify-content: center;
    //     align-items: center;
    //     margin-bottom: 20px;
    //     &::before {
    //         content: " ";
    //         height: 1px;
    //         width: 60px;
    //         background: var(--title-color);
    //         margin-left: 0px;
    //         margin-right: 20px;
    //     }
    // }
    &__title {
        margin-bottom: 20px;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 48px;
        line-height: 1.16;
        letter-spacing: 0.05em;
        color: var(--white-color);
    }
    &__text {
        font-size: 16px;
        line-height: 1.625;
        letter-spacing: 0.02em;
        color: var(--gray-color);
        @include mq(desk) {
            width: 394px;
            font-size: 18px;
            line-height: 1.667;
        }
    }
}

.page {
    position: absolute;
    display: block;
    margin-top: 170px;
    right: 30px;
    bottom: 40px;
    @include mq(mob-only) {
        display: none;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        &:first-child {
            margin-right: 20px;
            text-align: left;
            & a {
                color: var(--info-color);
            }
        }
        text-align: right;
        width: 60px;
        height: 24px;
        border-bottom: 1px solid var(--title-color);
        & a {
            font-weight: 600;
            font-size: 11px;
            line-height: 1.364;
            letter-spacing: 0.1em;
            color: var(--white-color);
        }
    }
}

.center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    @include mq(desk) {
        justify-content: space-between;
    }
}

.perekluchatel {
    display: none;
    margin-left: 103px;
    margin-bottom: 50px;
    @include mq(tab) {
        display: block;
    }
    @include mq(desk) {
        margin-right: 52px;
    }
    &_button {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        & li {
            width: 17px;
            height: 2px;
            background-color: var(--white-color);
            &:not(:first-child) {
                width: 7px;
                background-color: var(--gray-color);
            }
            &:not(:last-child) {
                margin-bottom: 12px;
            }
        }
    }
}